#box {
    border: 10px solid black;
    height: 107.4%;
}

#main-div {
    height: 530px;
    background-image: url('../../Images/bg6.jpg');
    background-size: 50% 600px;
}

.insidebox {
    border: 5px solid black;
    margin: 10% auto 10% auto;
    max-width: 500px;
    min-width: 200px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif
}

div h1 {
    text-align: center;
}

p#para {
    text-align: center;
    font-size: 14px;
}
