@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

    <div class="about-sec" style="background: #BDFFF3;background: -webkit-linear-gradient(to right, #4AC29A, #BDFFF3);background: linear-gradient(to right, #4AC29A, #BDFFF3);">
        <div class="row">
            <div class="about">
                <div class="col-md-6 about-img">
                    <img src="~/Images/4ViM.gif" style="height:500px;" class="rounded-circle img-fluid" alt="" />
                </div>
                <div class="col-md-6" style="text-align :center;font-family: 'Dancing Script', cursive;">
                    <h3>VISION</h3>
                    <p style="padding:1px; font-size :large ;text-align :justify;">
                        To satiate the endless craving for fresh icecream to every dessert lover, while always
                        maintaining the quality of our products and respect for our customers.
                    </p>
                    <h3>MISSION</h3>
                    <p style="padding:1px; font-size :large ;text-align :justify;">
                        With creativity, we’re towards a greater (&sweeter) goal of serving tastefully curated fine
                        quality icecreams to every celebration in our customer’s life.
                    </p>
                    <h3>VALUES</h3>
                    <p style="padding:1px; font-size :large ;text-align :justify;">
                        Passion: Royal Ice creams curate every single of their products With great passion to
                        serve fresh and creamy ice creams.<br />
                        Creativity: Our creativity is best reflected in our products by making your icecream
                        experience unforgettable.<br />
                        Quality: To never compromise on the quality of our ice creams is the promise we made
                        to our customers.<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
