@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
        <li data-target="#themeSlider" data-slide-to="3"></li>
        <li data-target="#themeSlider" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="width:100%;height:570px" src="~/Images/bb.jpg" alt="First slide">
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="width:100%;height:570px" src="~/Images/cc.jpg" alt="Second slide">
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="width:100%;height:570px" src="~/Images/dd.jpg" alt="Third slide">
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="width:100%;height:570px" src="~/Images/ee.jpg" alt="Fourth slide">
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="width:100%;height:570px" src="~/Images/gg.jpg" alt="Fifth slide">
        </div>
    </div>

    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
</div>

<div class="how-section1" style="background: #ffdde1;background: -webkit-linear-gradient(to right, #ee9ca7,#ffdde1);background: linear-gradient(to right, #ee9ca7,#ffdde1);">
    <div class="row">
        <div class="royal">
            <div class="col-md-6 how-img">
                <img src="~/Images/1_ani.gif" class="rounded-circle img-fluid" alt="" />
            </div>
            <div class="col-md-6" style="text-align :center;margin-top :30px;font-family: 'Dancing Script', cursive;">
                <h2>What is Royal Icecreams</h2>

                <p style="padding:40px; font-size :large ;text-align :justify;">
                    Royal Icecreams - A Premium Quality icecream Brand where we make Ice cream desserts
                    deliciously, with hand-picked ingredients with zero compromise in quality. Our products are
                    Fresh, rich and so delicious that make ice-cream lovers come back for more. We use grade 1
                    quality ingredients and lots of love to craft every product of Royal Icecreams to the perfection
                    that it is. Think of Royal Icecreams for bulk ice cream orders on weddings and other special
                    occasions, to end them with a sweet note, literally!
                </p>
            </div>
        </div>
    </div>
</div>



